<html>
<head>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- if locally src=/min.js -->

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SignUp</a>
    </div>
    <ul class="nav navbar-nav">

      <li class="active"><a href="/app/signup">SIGN UP</a></li>
      <li><a href="/app/home">HOME</a></li>
      <li><a href="/app/profile">PROFILE</a></li>
      <li><a href="/app/settings">SETTINGS</a></li>
    </ul>
  </div>
</nav>

<input type="text" id="username"></input>
<br>
<br>
<input type="password" id="password"></input>
<br>
<br>
<button type="button" id="signupButton">SignMeUpPLZDADDY(YEET on the button)</button>
<script>
$("#signupButton").on("click", function() {
  var username = $("#username").val();
  var password = $("#password").val();
  console.log("yeet");
  console.log(username);
  console.log(password);
  $.ajax({
    method: "POST",
    url: "/api/auth/login",
    data: {
      username: username,
      password: password
    }
  }).fail(function(failure) {
      console.log(failure);
  }).done(function(data) {
      console.log(data);
  });

});
</script>
</body>
</html>
