.signforElements {
    margin: 10px;
    background-color: plum;
    width: 250px;
}

/* .signforButton {
    background-color: azure;
    border-color: black;
    border-width: 1px;
    
} */

#signupForm {
    width: 300px;
    left: 50%;
    margin-left: -150px;
    position: relative;
    
}